* {
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: "#eaede8";
}

polyline {
  animation: animate 3s linear forwards;
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}
